# Python
*.pyc
__pycache__/
*.sqlite3
db.sqlite3

# Environment
.env
*.env

# Local settings with SQLite - DO NOT PUSH TO GITHUB
settings.py
stockcontrol/settings.py

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
